doctype html
html
	head
		title App Hooks
		link(rel="stylesheet", href="/css/app-hooks.css")

	body
		section.modal.namespace
			form#namespace(action="/user/namespace?html=true", method="post")
				h1 Set your namespace
				p Use at least 10 characters of type [a-zA-Z0-9.]
				-if(message)
					p.error=message

				input(name="namespace", type="text", placeholder="com.example.myapp", required)
				button Set it!

		header.compact
			a.button(href="/web/docs", target="_blank")
				button.docs Documentation

			a.button(href="/user/logout")
				button.access Logout
			a.button(href="/")
				.brand

		.container
			.dashboard
				h1 Dashboard

				-if(message)
					p.message= message

				.board
					p Namespace
					p.code= user.namespace[0]
					p Secret
					p.code= user.apiSecret
				hr
				h2 Registered devices
				table.devices
					thead
						td #
						td Name
						td Model
						td Status
					tbody
						-for(var i in devices)
							-if(!devices[i].removed)
								tr
									td=i
									td=devices[i].name
									-if(devices[i].type == 0)
										td=devices[i].model + " (Android)"
									-else
										td=devices[i].model + " (iOS)"
									-if(devices[i].approved)
										td
											form(action="/device/"+devices[i]._id+"/remove?html=true", method="post")
												button Remove
									-else
										td
											form(action="/device/"+devices[i]._id+"/approve?html=true", method="post")
												button Approve
				-if(devices.length == 0)
					p.center This namespace doesn't have any device registered yet.

				hr
				h2 Test drive
				p After registering your devices you can make a test drive using the following form:
				#test-drive.board.small
					input(type="text", name="namespace", value=user.namespace[0], disabled)
					input(type="text", name="apiSecret", value=user.apiSecret, disabled)
					input(type="text", name="title", placeholder="Title")
					input(type="text", name="message", placeholder="Message")
					button Run!
				p To see how this form works, take a look at our <a href="/web/docs">Documentation</a>
				hr
				h2 FAQ
				.faq
					p.question
						| How do I register a device?
					p.answer
						| You need to download the <a href="#">App Hooks application</a> on your device and add your namespace to receive the push notifications.

					p.question
						| How do I get another namespace?
					p.answer
						| If you are interested in obtaining another namespace please contact us at <a href="mailto:hello@grupotrilha.com.br">hello@grupotrilha.com.br</a>

		footer
			p Made with &#9829; by <a href="https://grupotrilha.com.br" target="_blank">Trilha</a>

	script(src="/js/jquery-1.11.1.min.js")
	script(src="/js/page-user.js")

	-if(user.namespace.length == 0)
		script $(document).ready(function() { ui.registerNamespace(); });
